@import "tailwindcss";

@theme {
    /* Твои кастомные цвета */
    --color-brand: #3b82f6;
    --color-surface: #0f172a;
    --color-bg: #020617;
}

@layer base {
    /* Применяем фон и шрифт для всего приложения */
    body { 
        @apply bg-bg text-slate-200 antialiased font-sans; 
    }
    
    /* Стили для инпутов, чтобы они везде выглядели одинаково */
    input::placeholder, textarea::placeholder {
        @apply text-slate-500 opacity-100;
    }
    
    input, select { 
        @apply bg-bg border border-slate-800 rounded-xl px-4 py-3 outline-none focus:ring-4 focus:ring-brand/20 transition-all w-full text-white; 
    }
}
